.active{
        text-decoration:underline;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 104%;
    background-color: #4c4c4c;
    border-color: #5858c5;
    border: black;
}